.theme-dark {

    /* Text */
    --text-normal: #ffffff;
    --header-primary: rgb(255, 255, 255);
    --interactive-normal: #ffffff;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #858585;

    --header-secondary: #858585;
    --interactive-hover: #a0a0a0;
    --interactive-active: #e2e2e2;

    /* Background color */
    --background-primary: #303030be !important;
    --background-secondary: #22222287 !important;
    --background-secondary-alt: #2c2c2cbb !important;
    --background-tertiary: #181818b2 !important;
    --background-floating: #24242448 !important;
    --background-accent: #575757 !important;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(48, 44, 44, 0.32) !important;
    --background-modifier-active: rgba(17, 12, 12, 0.32) !important;
    --background-modifier-selected: rgba(31, 21, 21, 0.32) !important;
    --toast-background: #3d3638 !important;
    --toast-header: #292526 !important;
    --toast-contents: #252424 !important;
    --toast-border: #2b2b2b !important;
    --input-background: var(--background-secondary);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --channel-text-area-placeholder: var(--interactive-normal);
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
    .colorBrand-3cPPsm { color: var(--button) !important;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-yCfaCM { background-color: var(--button) !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: var(--button) !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: var(--button) !important; border-color: var(--button) !important;}

    /* Hover background */
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}
