/**
* @name XOPichu Flat
* @author Nyria#3863
* @description A theme forked from LilyPichu with some tiny Weeknd edit by Adv
* @invite rtBQX5D3bD
* @version 1.4
* @donate https://ko-fi.com/nyria
*/
@import url("https://nyri4.github.io/LilyPichu/main.css");

:root {

/* --- User variables --- */

--background-image: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/bg.png');

--container-text: "Stay Goated";

--home-button-icon: url('https://i.pinimg.com/originals/75/0f/57/750f57aef231b96e3f21f3650ac82008.jpg');

--inbox-bg-img: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/window-xo.png');

/* XO logo in user profile / set it to none if you dont want it */
--profile-xo-logo: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/xo-profile-bg.png');

/* Jumping GIF */
--jumping-gif: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/xo-mini.png');

/* --background-tertiary-alt: url();  */
--background-tertiary-alt: rgb(177, 177, 177);

/* Border-radius for the whole theme */
--border-radius: 25px;

--button: #dba470;

--blur: blur(5px);

}
.theme-dark {

    /* Text */
    --text-normal: #f8e1e5;
    --header-primary: #ffffff;
    --interactive-normal: #ffffff;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #858585;

    --header-secondary: #858585;
    --interactive-hover: #a0a0a0;
    --interactive-active: #e2e2e2;

    /* Background color */
    --background-primary: #242424 !important;
    --background-secondary: #0c0c0c !important;
    --background-secondary-alt: #141414 !important;
    --background-tertiary: #1a1a1a !important;
    --background-floating: #131313 !important;
    --background-accent: #5f5f5f !important;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(48, 44, 44, 0.32) !important;
    --background-modifier-active: rgba(17, 12, 12, 0.32) !important;
    --background-modifier-selected: rgba(31, 21, 21, 0.32) !important;
    --toast-background: #3d3638 !important;
    --toast-header: #292526 !important;
    --toast-contents: #252424 !important;
    --toast-border: #242323 !important;
    --input-background: var(--background-secondary);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --channel-text-area-placeholder: var(--interactive-normal);
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
    .colorBrand-3cPPsm { color: var(--button) !important;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-yCfaCM { background-color: var(--button) !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: var(--button) !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: var(--button) !important; border-color: var(--button) !important;}

    /* Hover background */
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}

    :root .app-3xd6d0::before {
      background: url(none) no-repeat;
    }
    :root .app-3xd6d0::after {
      background: url(none) no-repeat;
    }
    :root .app-2CXKsg::before {
      background: url(none) no-repeat;
    }
    :root .app-2CXKsg::after {
      background: url(none) no-repeat;
    }
    :root .layers-OrUESM::before {
      background: url(none) no-repeat;
    }
    :root .layers-OrUESM::after {
      background: url(none) no-repeat;
    }
    :root .bg-1QIAus::after {
      background: url(none) no-repeat;
    }
    :root .bg-1QIAus::before {
      background: url(none) no-repeat;
    }

    :root .bg-1QIAus {
        background: var(--background-image) center/cover no-repeat !important;
    }
    .container-1eFtFS::after {
      content: var(--container-text) !important;
      position: fixed;
      top: 220px;
      bottom: 85px;
      right: 60px;
      z-index: -2;
      width: 320px;
      background-color: var(--background-primary);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      color: var(--text-normal);
      border-radius: var(--border-radius);
      overflow: hidden;
    }
    .homeIcon-r0w4ny path {fill: transparent}
    .homeIcon-r0w4ny {
        background: var(--home-button-icon) center/cover no-repeat !important;
        min-width: 60px;
        min-height: 60px;
    }
.userProfileInnerThemedNonPremium-2AJg-H,.userProfileInnerThemedPremiumWithoutBanner-lZ9inp,.userProfileInnerThemedWithBanner-25XGmz {
    background: var(--profile-xo-logo) !important;
}
.userPanelOverlayBackground-3xwDMp, {
    background: none !important;
}
.container-2ebMPP {
  background: var(--background-floating) !important;
}
.messageContainer-3VTXBC,.peopleListItem-u6dGxF {
    background: var(--background-secondary-alt) !important;
}
.header-145e10.expanded-2H1xJ- {
  background: none !important;
}
:root .ready-3BZNWT + .text-2bYgPB::before {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 200px;
  height: 200px;
  background: url("https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/xo-mini.png") center/80% no-repeat !important;
}
