/**
* @name XOPichu
* @author Nyria#3863
* @description A theme forked from LilyPichu with some tiny Weeknd edit by Adv
* @invite rtBQX5D3bD
* @version 1.4
* @donate https://ko-fi.com/nyria
*/
@import url("https://nyri4.github.io/LilyPichu/main.css");

:root {

/* --- User variables --- */

--background-image: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/bg.png');

--container-text: "Stay Goated";

--home-button-icon: url('https://i.pinimg.com/originals/75/0f/57/750f57aef231b96e3f21f3650ac82008.jpg');

--inbox-bg-img: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/window-xo.png');

/* XO logo in user profile / set it to none if you dont want it */
--profile-xo-logo: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/xo-profile-bg.png');

/* Jumping GIF */
--jumping-gif: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/xo-mini.png');

/* --background-tertiary-alt: url();  */
--background-tertiary-alt: rgba(177, 177, 177, 0.671);

/* Border-radius for the whole theme */
--border-radius: 25px;

--bg-blur: 30px;
--bg-blur-secondary: 5px;

--button: #dba470;

}

.theme-dark {

  /* Text */
    --text-normal: #f8e1e5;
    --header-primary: rgb(255, 255, 255);
    --interactive-normal: #ffffff;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #858585;

    --header-secondary: #858585;
    --interactive-hover: #a0a0a0;
    --interactive-active: #e2e2e2;

    /* Background color */
    --background-primary: #2424247e !important;
    --background-secondary: #0c0c0c9c !important;
    --background-secondary-alt: #1414146b !important;
    --background-tertiary: #1a1a1a96 !important;
    --background-floating: #131313da !important;
    --background-accent: #3b3b3ba4 !important;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(48, 44, 44, 0.32) !important;
    --background-modifier-active: rgba(17, 12, 12, 0.32) !important;
    --background-modifier-selected: rgba(31, 21, 21, 0.32) !important;
    --toast-background: #3d3638d5 !important;
    --toast-header: #292526da !important;
    --toast-contents: #252424 !important;
    --toast-border: #242323d0 !important;
    --input-background: var(--background-secondary);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --channel-text-area-placeholder: var(--interactive-normal);
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
.theme-light {

  /* Text */
    --text-normal: #000000;
    --header-primary: #000000;
    --interactive-normal: #000000;
    --channels-default: #000000;

    --text-muted: #000000;
    --interactive-muted: #1b1b1b;

    --header-secondary: #000000;
    --interactive-hover: #242424;
    --interactive-active: #141414;

    /* Background color */
    --background-primary: #d4d4d47e !important;
    --background-secondary: #a5a5a59c !important;
    --background-secondary-alt: #8d8d8d6b !important;
    --background-tertiary: #80808096 !important;
    --background-floating: #818181da !important;
    --background-accent: #838383a4 !important;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(141, 153, 143, 0.32) !important;
    --background-modifier-active: rgba(117, 138, 126, 0.32) !important;
    --background-modifier-selected: rgba(137, 156, 143, 0.32) !important;
    --toast-background: #b5c9b3d5 !important;
    --toast-header: #a8beadda !important;
    --toast-contents: #bbbbbb !important;
    --toast-border: #b4b4b4d0 !important;
    --input-background: var(--background-secondary);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --channel-text-area-placeholder: var(--interactive-normal);
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
    .colorBrand-3cPPsm { color: var(--button) !important;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    .lookFilled-yCfaCM { background-color: var(--button) !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: var(--button) !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: var(--button) !important; border-color: var(--button) !important;}

    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}


    :root .app-3xd6d0::before {
      background: url(none) no-repeat;
    }
    :root .app-3xd6d0::after {
      background: url(none) no-repeat;
    }
    :root .app-2CXKsg::before {
      background: url(none) no-repeat;
    }
    :root .app-2CXKsg::after {
      background: url(none) no-repeat;
    }
    :root .layers-OrUESM::before {
      background: url(none) no-repeat;
    }
    :root .layers-OrUESM::after {
      background: url(none) no-repeat;
    }
    :root .bg-1QIAus::after {
      background: url(none) no-repeat;
    }
    :root .bg-1QIAus::before {
      background: url(none) no-repeat;
    }

    :root .bg-1QIAus {
        background: var(--background-image) center/cover no-repeat !important;
    }
    .container-1eFtFS::after {
        content: var(--container-text) !important;
        position: fixed;
        top: 220px;
        bottom: 85px;
        right: 60px;
        z-index: -2;
        width: 320px;
        background: var(--background-accent) !important;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: var(--text-normal);
        border-radius: var(--border-radius);
        overflow: hidden;
        backdrop-filter: blur(var(--bg-blur));
    }
    .homeIcon-r0w4ny path {fill: transparent}
    .homeIcon-r0w4ny {
        background: var(--home-button-icon) center/cover no-repeat !important;
        min-width: 60px;
        min-height: 60px;
    } 
.userProfileInnerThemedNonPremium-2AJg-H,.userProfileInnerThemedPremiumWithoutBanner-lZ9inp,.userProfileInnerThemedWithBanner-25XGmz {
    background: var(--profile-xo-logo) !important;
}
.container-2ebMPP,.recentMentionsPopout-2bI1ZN {
  background: var(--inbox-bg-img) center/cover no-repeat !important;
  backdrop-filter: blur(var(--bg-blur-secondary)) !important;
}
.header-145e10.expanded-2H1xJ- {
  background: none !important;
  backdrop-filter: blur(var(--bg-blur-secondary));
}
.container-ZMc96U.themed-Hp1KC_,
.scroller-kQBbkU,
.scroller-18M1mG,
.form-3gdLxP,
.peopleColumn-1wMU14,
.guilds-2JjMmN,
.userPanelOverlayBackground-3xwDMp
{
  backdrop-filter: blur(var(--bg-blur)) !important;
}
.layout-1qmrhw,.membersWrap-3NUR2t .members-3WRCEx .content-2a4AW9 {
  background: var(--background-secondary-alt) !important;
}
.messageContainer-3VTXBC,.peopleListItem-u6dGxF,.scroller-18M1mG {
    background: var(--background-secondary-alt) !important;
}
.container-YkUktl {
  background: var(--background-accent) !important;
  backdrop-filter: blur(var(--bg-blur-secondary));
}
:root .ready-3BZNWT + .text-2bYgPB::before {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 200px;
  height: 200px;
  background: var(--jumping-gif) center/80% no-repeat !important;
}
.userProfileOuterThemed-2BgJCM.userPopoutOuter-1OHwPL, .userProfileOuterThemed-2BgJCM.userProfileOuter-2tQwNf {
  padding: 10px;
}
.panel-2ZFCRb {
  z-index: 10 !important;
  background-color: var(--toast-header) !important;
}
.sidebarRegionScroller-FXiQOh,
.auto-2TJ1RH,
.none-1rXy4P,
.members-3WRCEx,
:root .nowPlayingColumn-1eCBCN .scroller-hE2gWq,
:root .nowPlayingColumn-1eCBCN::after {
    backdrop-filter: blur(var(--bg-blur-secondary));
}

/* add your code here */
