/**
* @name XOPichu
* @author Nyria#3863
* @description A theme forked from LilyPichu with some tiny Weeknd edit
* @invite rtBQX5D3bD
* @version 1.3.1
* @donate https://ko-fi.com/nyria
* @source https://github.com/advyte-byte/XOPichu
* @updateUrl https://raw.githubusercontent.com/advyte-byte/XOPichu/main/xopichu.theme.css
*/

@import url("https://nyri4.github.io/LilyPichu/main.css");

:root {

/* --- User variables --- */

/* XO logo in user profile / set it to none if you dont want it */
--profile-xo-logo: url('https://raw.githubusercontent.com/advyte-byte/XOPichu/main/assets/xo-profile-bg.png');

/* Jumping GIF */
--jumping-gif: url('https://raw.githubusercontent.com/advyte-byte/XOPichu/main/assets/xo-mini.png');

/* Background (if you want an image replace it by : 

--background-tertiary-alt: url("image-link"); without that => */
--background-tertiary-alt: rgb(177, 177, 177);

/* Border-radius for the whole theme */
--border-radius: 20px;

--button: #dba470;

}

.theme-dark {

    /* Text */
    --text-normal: #ffffff;
    --header-primary: rgb(255, 255, 255);
    --interactive-normal: #ffffff;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #858585;

    --header-secondary: #858585;
    --interactive-hover: #a0a0a0;
    --interactive-active: #e2e2e2;

    /* Background color */
    --background-primary: #0f0f0f !important;
    --background-secondary: #0c0c0c !important;
    --background-secondary-alt: #141414 !important;
    --background-tertiary: #1a1a1a !important;
    --background-floating: #131313 !important;
    --background-accent: #464646 !important;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(48, 44, 44, 0.32) !important;
    --background-modifier-active: rgba(17, 12, 12, 0.32) !important;
    --background-modifier-selected: rgba(31, 21, 21, 0.32) !important;
    --toast-background: #3d3638 !important;
    --toast-header: #292526 !important;
    --toast-contents: #252424 !important;
    --toast-border: #242323 !important;
    --input-background: var(--background-secondary);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --channel-text-area-placeholder: var(--interactive-normal);
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
    .colorBrand-3cPPsm { color: var(--button) !important;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-yCfaCM { background-color: var(--button) !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: var(--button) !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: var(--button) !important; border-color: var(--button) !important;}

    /* Hover background */
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}

.theme-light {

    /* Text */
    --text-normal: #232323 !important;
    --header-primary: #363636 !important;
    --interactive-normal: #1b1b1b !important;
    --channels-default: #2a2a2a !important;

    --text-muted: #3c3c3c !important;
    --interactive-muted: #1c1c1c !important;

    --header-secondary: #f0f0f0 !important;
    --interactive-hover: #2a2a2a !important;
    --interactive-active: #171717 !important;

    /* Background color */
    --background-primary: rgb(199, 199, 199) !important;
    --background-secondary: #a0a0a0 !important;
    --background-secondary-alt: #797979 !important;
    --background-tertiary: #808080 !important;
    --background-floating: #9e9e9e !important;
    --background-accent: #313131 !important;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.062) !important;
    --background-modifier-active: rgba(19, 12, 12, 0.123) !important;
    --background-modifier-selected: rgba(31, 21, 21, 0.11) !important;

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}

    .colorBrand-3cPPsm { color: var(--button) !important;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-yCfaCM { background-color: var(--button) !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: var(--button) !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: var(--button) !important; border-color: var(--button) !important;}

    /* Hover background */
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}


    :root .app-3xd6d0::before {
      background: url(none) no-repeat;
    }
    :root .app-3xd6d0::after {
      background: url(none) no-repeat;
    }
    :root .app-2CXKsg::before {
      background: url(none) no-repeat;
    }
    :root .app-2CXKsg::after {
      background: url(none) no-repeat;
    }
    :root .layers-OrUESM::before {
      background: url(none) no-repeat;
    }
    :root .layers-OrUESM::after {
      background: url(none) no-repeat;
    }
    :root .bg-1QIAus::after {
      background: url(none) no-repeat;
    }
    :root .bg-1QIAus::before {
      background: url(none) no-repeat;
    }
  :root .layers-OrUESM::after {
      background: url(none) !important;
  }
    /* Credit to Unsplashed for the bg image 
    
    Url: https://unsplash.com/photos/ay53qag90W8 */

    :root .bg-1QIAus {
        background: url(https://raw.githubusercontent.com/advyte-byte/XOPichu/main/assets/bg.png) !important;
    }
    .container-1eFtFS::after {
      content: "Stay Goated" !important;
    }
    .homeIcon-r0w4ny path {fill: transparent}
    .homeIcon-r0w4ny {
        background: url('https://i.ibb.co/r6Tn2dQ/image-2023-01-20-221010183.png') center/cover no-repeat !important;
        min-width: 60px;
        min-height: 60px;
    }
.userProfileInnerThemedNonPremium-1gT-zY {
    background: var(--profile-xo-logo) !important;
}
