/**
* @name XOPichu
* @author Nyria#3863
* @description A theme forked from LilyPichu with some tiny Weeknd edit
* @invite rtBQX5D3bD
* @version 1.2
* @donate https://ko-fi.com/nyria
*/
@import url("https://nyri4.github.io/LilyPichu/main.css");

:root {
/* Jumping GIF */
  --jumping-gif: url('https://cdn.discordapp.com/attachments/1013091495714230354/1066284984060616724/image_2023-01-21_144403562.png');
/* Background (if you want an image replace it by : 

--background-tertiary-alt: url("image-link"); without that => */
--background-tertiary-alt: #646464;

/* Border-radius for the whole theme */
--border-radius: 20px;

}

.theme-dark {

    /* Text */
    --text-normal: #f8e1e5;
    --header-primary: rgb(255, 255, 255);
    --interactive-normal: #ffffff;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #858585;

    --header-secondary: #858585;
    --interactive-hover: #a0a0a0;
    --interactive-active: #e2e2e2;

    /* Background color */
    --background-primary: #242424;
    --background-secondary: #0c0c0c;
    --background-secondary-alt: #141414;
    --background-tertiary: #1a1a1a;
    --background-floating: #131313;
    --background-accent: #464646;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(48, 44, 44, 0.32);
    --background-modifier-active: rgba(17, 12, 12, 0.32);
    --background-modifier-selected: rgba(31, 21, 21, 0.32);
    --toast-background: #3d3638 !important;
    --toast-header: #292526 !important;
    --toast-contents: #252424 !important;
    --toast-border: #242323 !important;

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
    .colorBrand-ROmMP1 { color: #3f3f3f;}
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-1Gx00P { background-color: #888888 !important;}
    .lookFilled-1Gx00P:active, .lookFilled-1Gx00P:hover { background-color: #333333 !important;}
    .lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) { color: #727272; border-color: #ffffff;}

    /* Hover background */
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { color: var(--interactive-normal);}

.theme-light {

    /* Text */
    --text-normal: #a86373;
    --header-primary: #a86373;
    --interactive-normal: #a86373;
    --channels-default: #a86373;

    --text-muted: #a86373;
    --interactive-muted: #cf92a0;

    --header-secondary: #cf92a0;
    --interactive-hover: #be7d8c;
    --interactive-active: #b36f7f;

    /* Background color */
    --background-primary: #FFFFFF;
    --background-secondary: #fae8e8;
    --background-secondary-alt: #fdc7c7;
    --background-tertiary: #dab9b9;
    --background-floating: #ffe4e4;
    --background-accent: #bbb1b3;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.062);
    --background-modifier-active: rgba(19, 12, 12, 0.123);
    --background-modifier-selected: rgba(31, 21, 21, 0.11);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}

    .colorBrand-ROmMP1 { color: #c5536c;}
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-1Gx00P { background-color: #c5536c !important;}
    .lookFilled-1Gx00P:active, .lookFilled-1Gx00P:hover { background-color: #b64a61 !important;}
    .lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) { color: #c5536c; border-color: #c5536c;}

    /* Hover background */
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { color: var(--interactive-normal);}

    :root .app-3xd6d0::before {
      background: url(none) no-repeat;
    }
    :root .app-3xd6d0::after {
      background: url(none) no-repeat;
    }
    :root .app-2CXKsg::before {
      background: url(none) no-repeat;
    }
    :root .app-2CXKsg::after {
      background: url(none) no-repeat;
    }
    :root .layers-OrUESM::before {
      background: url(none) no-repeat;
    }
    :root .layers-OrUESM::after {
      background: url(none) no-repeat;
    }
    :root .bg-1QIAus::after {
      background: url(none) no-repeat;
    }
    :root .bg-1QIAus::before {
      background: url(none) no-repeat;
    }
    /* Credit to Unsplashed for the bg image 
    
    Url: https://unsplash.com/photos/ay53qag90W8 */
    :root .bg-1QIAus {
        background: url(https://cdn.discordapp.com/attachments/1013091495714230354/1066290596475576430/photo-1502239608882-93b729c6af43.png) !important;
    }
    .container-1eFtFS::after {
      content: "Stay Goated";
    }
    .homeIcon-r0w4ny path {fill: transparent}
    .homeIcon-r0w4ny {
        background: url('https://i.ibb.co/r6Tn2dQ/image-2023-01-20-221010183.png') center/cover no-repeat;
        min-width: 60px;
        min-height: 60px;
    }
