/**
* @name XOPichu Flat
* @author Nyria#3863
* @description A theme forked from LilyPichu with some tiny Weeknd edit by Adv
* @invite rtBQX5D3bD
* @version 1.4
* @donate https://ko-fi.com/nyria
*/
@import url("https://nyri4.github.io/LilyPichu/main.css");

:root {

/* --- User variables --- */

--background-image: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/bg.png');

--container-text: "Stay Goated";

--home-button-icon: url('https://i.pinimg.com/originals/75/0f/57/750f57aef231b96e3f21f3650ac82008.jpg');

--inbox-bg-img: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/window-xo.png');

/* XO logo in user profile / set it to none if you dont want it */
--profile-xo-logo: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/xo-profile-bg.png');

/* Jumping GIF */
--jumping-gif: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/xo-mini.png');

/* --background-tertiary-alt: url();  */
--background-tertiary-alt: rgb(177, 177, 177);

/* Border-radius for the whole theme */
--border-radius: 25px;

--button: #dba470;

--blur: blur(5px);

}

/* Add your own code here */
